html {
    font-family: sans-serif;
    font-size: 18px;
}
body {
    margin: 0;
}


/* .flex {} */
.flex__container {
    display: flex;
}
/* .flex__item {} */



.piano {
    border: 1px solid #000;
    max-width: 500px;
    margin: 0 auto;
}
.piano__container {
    border: 1px solid red;
}
.piano__key {
    user-select: none;
    border: 1px solid #f5f5f5;
    background-color: #ddd;
    box-shadow: 0px 3px 12px -3px rgba(0,0,0, .4);
    border-radius: 8px;
    line-height: 140px;
    text-align: center;
    cursor: pointer;
    flex-grow: 1;
}
.piano__key + .piano__key {
    margin-left: 5px;
}
.piano__key:hover {
    /* box-shadow: 0px 0px 3px 0px rgba(0,0,0, .3); */
    background-color: #e5e5e5;
}


.sound {}
.sound__container {}
.sound__item {
    line-height: 100px;
    border: 10px solid gray;
    text-align: center;
    font-size: 32px;
    margin: 10px;
    flex-grow: 1;
}
.sound__item.active {
    border: 10px solid red;
    background-color: #333;
    font-weight: bold;
    color: gold;
}
